.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5rem 0rem;
}

.about__terminal {
    color: #cdd9e5;
    animation: animate_about_section 1.1s forwards ease;
}

.about__terminal--box {
    background-color: #282a36;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 1rem;
    min-width: 35rem;
    min-height: 30rem;
}

.about__terminal--box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.about__terminal--box-top span {
    background-color: #ff5f56;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.about__terminal--box-top span:nth-child(2) {
    background-color: #ffbd2e;
}

.about__terminal--box-top span:nth-child(3) {
    background-color: #27c93f;
}

.about__terminal--box-top-title {
    flex-grow: 1;
    text-align: center;
    color: #a8a8a8;
    font-size: 0.9rem;
    font-family: 'Ubuntu Mono';
}

.about__terminal--box-content {
    font-family: 'Ubuntu Mono';
    margin-left: 0;
}

.about__selected-projects {
    opacity: 0;
    transform: translateY(50px);
    animation: animate_about_section 1.2s forwards ease;
    animation-delay: 300ms;
}

.about__selected-projects--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    border-radius: 16px;
    padding: 2rem 4rem;
    text-align: center;
}

.about__selected-projects--box-line {
    width: 75%;
    height: 1px;
    background-color: #fff;
}

.about__selected-projects--box h2 {
    font-size: 2.3rem;
    font-weight: 500;
}

.about__selected-projects--box-btn {
    text-decoration: none;
    background-color: #0B0015;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    transition: 0.8s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.about__selected-projects--box-btn:hover {
    background-color: #120122;
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 2);
}

.swiper {
    max-width: 600px;
    height: auto;
    border-radius: 1rem;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet-active {
    background: #b13cff;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1350px) {
    .about {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 0rem;
        gap: 5rem;
    }

    .about__selected-projects {
        min-width: 500px;
    }

    .swiper {
        width: 100%;
    }

    .about__terminal--box {
        width: 100%;
        min-width: 400px;
    }
}

@media (max-width: 768px) {
    .about {
        gap: 3rem;
    }


    .about__selected-projects {
        width: 100%;
        min-width: 0px;
    }
}

@media (max-width: 550px) {
    .about__terminal {
        margin: 0rem 1rem;
        font-size: 0.8rem;
        width: 100%;
    }

    .about__terminal--box {
        min-width: 0px;
    }

    .about__selected-projects {
        width: 100%;
        min-width: 0px;
    }
}